.App {
  /* text-align: center;
   */
   display: flex;
   flex-direction: column;
   background-color: #F7F7F7;
   height: 782px;   
}

.App-logo {
  /* max-height: 20vh !important; */
  pointer-events: none;
}

.App-image{
  height: 250px;
  width: 1760px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  /* background-color: #282c34; */
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-items {
  z-index: 1;
  display:flex;
  background-color: #D6EFC7;
  color: #000000;
  justify-content: center;
  align-items: center;
  width: 33%;
  border: 1px;
  border-color: white;
}

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
